# Server Configuration
PORT=4000
NODE_ENV=development

# Database PostgreSQL + PostGIS
DATABASE_URL="postgresql://postgres:password@localhost:5432/traveller_db?schema=public"

# Redis Cache & Session Store
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secrets & Security
JWT_ACCESS_SECRET="super-secret-access-key-lampung-2026"
JWT_REFRESH_SECRET="super-secret-refresh-key-lampung-2026"

# Microservice ML Engine Endpoint
ML_ENGINE_URL="http://localhost:8000"
